// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
.bg-adarsh{
    background-color: rgb(143, 141, 141);
}
.text-greeen{
    color: #42b72a;
    font-weight: bold;

}
.bg-noname{
    background-color: rgb(245,245,245 );
}

.user-div:hover{
    background-color: rgb(250,250,260 )
}

body{
    min-height: 100vh;
   background-color: rgb(143, 141, 141);    
}

.bg-hovver{
    background-color: rgb(270,270,270 )
}

.bg-adarsh2{
    background-color: rgb(215, 210, 210);
}

// .messages-box{
//     height: 70vh;
//     overflow-y: auto;
//     overflow-wrap: break-word;
//     overflow-x: hidden;
// }
.messages-box{
    // height: 70vh;
    height: 80vh;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    // border-radius: 15px;
    background-color: rgb(254, 251, 251);
    scrollbar-width: none;
    // display: flex;
    // flex-direction: column;
   
    // width: 200px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.userProfileImage{
    width: 50px;
    height: 50px;
    border-radius : 50%;
    object-fit: cover;
}

.info-text{
 
    font-size: 12px;
    color: rgb(143, 141, 141);
    text-align: center;
    
    
    margin-top: 35rem;
    // margin-bottom: 1rem;
}

.message-time{
    font-size: 12px;    
}

.message-content{
    font-size: 14px;   
    overflow-wrap: break-word;
   
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.error-box{
    color: red;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

}

.userImagePopover{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px #0e110d;
    object-fit: cover;
    
}
.ant-popover-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #42b72a;
  }